*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    background: white;
    display: flex;    
    justify-content: center; 
    padding: 20px 50px;
    position: fixed;
    width: 100%;   
}
header h1 {
    width: 700px;
    font-size: 50px;
}
a {
  opacity: 0.8;
  text-decoration: none;
  cursor: pointer;
  padding: 0 10px;
}

a:hover {
  opacity: 1;
}

a:visited , a:hover , a:active {
  color: inherit;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: 500;
  font-size: 1.3rem;
  list-style: none;
  margin-right: 10px;
} 


.image img {
    display: flex;       
    width: 400px;    
    border: 1px solid black;
    margin: 0px 20px;    
    background-color: lightblue;
}
p {
   display: flex;
   align-content: center;

}

#about {
    font-family: Arial, Helvetica, sans-serif;
    font-style: inherit;
}

